@font-face {
  font-family: "Karla-Bold";
  src: url("../assets/fonts/Karla-Bold.ttf");
}

@font-face {
  font-family: "Karla-BoldItalic";
  src: url("../assets/fonts/Karla-BoldItalic.ttf");
}

@font-face {
  font-family: "Karla-Italic";
  src: url("../assets/fonts/Karla-Italic.ttf");
}

@font-face {
  font-family: "Karla-Regular";
  src: url("../assets/fonts/Karla-Regular.ttf");
}
