.Login {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login__input {
  background: white;
  outline: none;
  width: 130px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 10px auto;
  background-position: left 5px top 50%;
  padding-left: 25px;
  border-radius: 10px;
  margin-top: 5px;
  border: 1px solid #dfe1e5;
}

.Login__input:focus {
  width: 200px;
  box-shadow: 0px 0px 5px #e8e8e8;
  transition: all 100ms linear;
  transition-property: width, box-shadow;
}

.Login__input--username {
  background-image: url("../assets/icons/contact.svg");
}

.Login__input--password {
  background-image: url("../assets/icons/lock.svg");
}

.Login__input--name {
  background-image: url("../assets/icons/name.png");
}

.Login__input--avatar {
  background-image: url("../assets/icons/avatar.png");
}

.Login__button {
  width: 70px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #dfe1e5;
  outline: none;
  background: white;
}

.Login__button:hover {
  box-shadow: 0px 0px 5px #e8e8e8;
}

.Login__button--register {
  margin-left: 5px;
}

.Login__button--login {
  margin-right: 5px;
}

.Login__title {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 50px;
}
