.Question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.Question__option {
  height: 175px;
  width: 400px;
  border: 1px solid #dfe1e5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  outline: none;
}

.Question__option:hover {
  box-shadow: 0px 0px 5px #e8e8e8;
}

.Question__option:disabled {
  color: black;
}

.Question__divider-text {
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Question__title-text {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 15px;
}

.Question__statistics {
  display: flex;
  flex-direction: row;
}

.Question__percentage {
  margin-right: 20px;
}

.Question__avatar {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 1px solid lightgrey;
  box-shadow: 0px 0px 5px lightgrey;
  margin-right: 5px;
}

.Question__avatar--pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.Question__author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.Question__author--name {
  font-size: 10px;
}

.Question__author--pre {
  font-size: 10px;
  margin-right: 10px;
}